body { 
  display: block;
  background: #1c71ab;
}

#top-header{
  background: url(../img/bg.jpg) repeat-x top left;
}

#menu-top{
  width: 100%;
	background: #1c71ab;
}


.container {
    /*width: 1200px;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.nav{
  width: 1200px;
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
        margin: auto;
     
}

.nav ul{
	list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    float: left;
    color: #fff;
    padding: 10px 35px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
     text-decoration: none;
}

.nav a {
	    text-decoration: none;
}

.nav a:hover { 
  background-color: #FF9653;
}

.row .col-md-3 col-sm-12{
  background: #1c71ab;
}



